/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-card div {
  margin-right: 10px;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

.logout-button {
  background-color: #d32f2f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #b71c1c;
}

/* Styles for the search bar */
.search-bar {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Add some margin to the top-right div */
.top-right {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
